<div class="container header">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4">
            <div class="header-icon" [routerLink]="['']">
                <label class="color-black">MOVIE</label>
                <i class="bi bi-camera-reels color-black"></i>
                <label class="theme-color">HELL</label>
            </div>
        
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8 advertisement">
            <img src="https://2.bp.blogspot.com/-DAfuy6syZBE/WHEO3mGw5XI/AAAAAAAACc4/xz_RUcv7OTQe78AsvLF00KbvgdqA5w7PwCLcB/s1600/ad728.png"/>        
        </div>
    </div>
</div>
