.footer-bar{
    background-color: #000;
    color: white;
    width: 100%;
}
.footer-bar .footer-bar-content{
    display: block;
    text-align: center;
    padding: 8px 0 8px 0;
    line-height: normal;
    font-size: 12px;
    font-weight: 700;
}
.footer-bar .footer-bar-content a{
    margin-left: 15px;
    color: #fff;
}