<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-movie" src="https://3.bp.blogspot.com/-2RTo_VuzOXQ/WX5F64wP7NI/AAAAAAAACrI/ELOfS10DpeotNWWGfZw9D_IlSHTviSD5gCK4BGAYYCw/s400/FIBZexWfZrm8FD_292_a.jpg" 
            alt="Card image cap" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <header>
                    Storks (2016)
                </header>
            </div>
            <div class="row">
                <label>
                    <i class="bi bi-clock"></i>
                    30 July 2017
                </label>
            </div>
            <div class="row">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis bibendum dui, sed commodo risus. Nulla facilisi. Nulla facilisi. Fusce vitae tempus ipsum, sit amet sodales velit. Aliquam feugiat convallis nulla sed pretium. Cras at enim vitae mauris maximus mattis. Phasellus egestas lorem nisl. Praesent egestas congue felis. Nulla semper arcu sit amet scelerisque sollicitudin.
                </p>
            </div>
        </div>
    </div>
</div>
