<div class="social-bar">
    <div class="container">
        <div class="social-bar-content">
            <a [routerLink]="['/movies']">
                <i class="bi bi-facebook"></i>
            </a>
            <a [routerLink]="['/movies']">
                <i class="bi bi-google"></i>
            </a>
            <a [routerLink]="['/movies']">
                <i class="bi bi-twitter"></i>
            </a>
            <a [routerLink]="['/movies']">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
    </div>
</div>


