.card-movie{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 20px;
    transition: 0.3s;
}
.card-movie:hover{
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
}
.card-movie .card-movie-header{
    height: 300px;
}
.card-movie .img-movie{
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-movie .card-movie-body{
    padding: 8px 10px;
}
.card-movie .card-movie-body label{
    cursor: pointer;
}
.card-movie .movie-name{
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-movie .movie-detail{
    font-size: 11px;
    color: #555;
    margin-right: 8px;
    font-weight: 500;
}
