<div class="card-movie" [routerLink]="['/movies/detail/1']">
    <div class="card card-movie-header">
        <img class="card-img-top img-movie" src="https://3.bp.blogspot.com/-2RTo_VuzOXQ/WX5F64wP7NI/AAAAAAAACrI/ELOfS10DpeotNWWGfZw9D_IlSHTviSD5gCK4BGAYYCw/s400/FIBZexWfZrm8FD_292_a.jpg" 
            alt="Card image cap">
    </div>
    <div class="card-movie-body">
        <label class="movie-name">Storks (2016)</label>
        <label class="movie-detail">
            <i class="bi bi-clock"></i>
            30 July 2017
        </label>
    </div>
</div>

