/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Roboto', sans-serif;
}
.theme-color{
    color: #dd3333 !important;
}
.theme-background{
    background-color: #dd3333 !important;
}
.color-black{
    color:#000 !important;
}
label{
    margin:0;
}
.mt-30{margin-top:30px;}