
<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
            <div class="title-text">Comments</div>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    There is no comment yet!
                </div>
                <div class="media pb-1 mb-3">
                    <i class="bi bi-person-circle comment-icon"></i>
                    <div class="media-body ml-3">
                        <label class="comment-username">Mae Gibson</label>
                        <p class="my-1">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                            <span class="text-muted small">2 hours ago</span>
                        </p>
                        <div class="clearfix">
                            <a href="#" class="float-right text-lightest small">
                            <span class="ion ion-ios-thumbs-down"></span>
                            </a>
                            <a href="#" class="float-right text-lightest small">
                            <span class="ion ion-ios-thumbs-up mr-2"></span>
                            </a>
                            <label class="text-muted small btn-reply" (click)="onClickReply()">
                                <i class="bi bi-reply-fill"></i> Reply
                            </label>
                        </div>
                
                        <div class="media pt-1 mt-3">
                            <i class="bi bi-person-circle comment-icon"></i>
                            <div class="media-body ml-3">
                                <label class="comment-username">Mae Gibson</label>
                                <p class="my-1">
                                    Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.                                
                                    <span class="text-muted small">2 hours ago</span>
                                </p>
                                <div class="clearfix">
                                    <a href="#" class="float-right text-lightest small">
                                    <span class="ion ion-ios-thumbs-down"></span>
                                    </a>
                                    <a href="#" class="float-right text-lightest small">
                                    <span class="ion ion-ios-thumbs-up mr-2"></span>
                                    </a>
                                    <label class="text-muted small btn-reply" (click)="onClickReply()">
                                        <i class="bi bi-reply-fill"></i> Reply
                                    </label>
                                </div>
                            </div>
                        </div>
                
                        <div class="media pt-1 mt-3">
                            <i class="bi bi-person-circle comment-icon"></i>
                            <div class="media-body ml-3">
                                <label class="comment-username">Mae Gibson</label>
                                <p class="my-1">
                                    Eam facilis laboramus reprehendunt ei, ex esse fastidii per.
                                    <span class="text-muted small">2 hours ago</span>
                                </p>
                                <div class="clearfix">
                                    <a href="#" class="float-right text-lightest small">
                                    <span class="ion ion-ios-thumbs-down"></span>
                                    </a>
                                    <a href="#" class="float-right text-lightest small">
                                    <span class="ion ion-ios-thumbs-up mr-2"></span>
                                    </a>
                                    <label class="text-muted small btn-reply" (click)="onClickReply()">
                                        <i class="bi bi-reply-fill"></i> Reply
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="media pt-1 mt-3">
                    <i class="bi bi-person-circle comment-icon"></i>
                    <div class="media-body ml-3">
                        <label class="comment-username">Mae Gibson</label>
                        <p class="my-1">
                            Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.
                            <span class="text-muted small">2 hours ago</span>
                        </p>
                        <div class="clearfix">
                            <a href="#" class="float-right text-lightest small">
                            <span class="ion ion-ios-thumbs-down"></span>
                            </a>
                            <a href="#" class="float-right text-lightest small">
                            <span class="ion ion-ios-thumbs-up mr-2"></span>
                            </a>
                            <label class="text-muted small btn-reply" (click)="onClickReply()">
                                <i class="bi bi-reply-fill"></i> Reply
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="form-group">
                    <label class="username">
                        <i class="bi bi-person-circle comment-icon"></i> 
                        <label class="comment-username ml-3"> Jamie Vardy</label>
                    </label>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add comment"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">
                        <i class="bi bi-share"></i> Share
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>